@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-bodyColor text-white h-screen overflow-hidden;
}

.seller::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background-color: #161a42;
}
.seller::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background-color: linear-gradient(
    162deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
  border-radius: 20px;
}
